<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="overflow:hidden;height: 650px;width: 360px;">
    <div>
        <div class="popButton">
            <a href="###" rel="noopener nofollow noreferrer"
               onclick="downloadVideo('${rows['videoUrl']}','${rows['desc']}')">
                <button class="layui-bg-red layui-btn-sm layui-btn">下载视频</button>
            </a>
        </div>
        <div class="popButton">
            <textarea id="videourl" cols="1" rows="1"
                      style="height:0;width:0;position: absolute;">${rows['videoUrl']}</textarea>
            <button class="layui-btn-sm layui-bg-blue layui-btn" onclick="copy('videourl')">复制链接</button>
        </div>
        <!--<div class="popButton">
            <a href="###" rel="noopener nofollow noreferrer"
               onclick="downloadVideo('${rows['musicUrl']}','${rows['desc']}')">
                <button class="layui-btn-sm layui-btn">下载音频</button>
            </a>
        </div>-->
        <video id="video" width="360px" height="600px" src="${rows['videoUrl']}" controls="true"
               poster="${rows['videoPic']}" preload="auto" webkit-playsinline="true" playsinline="true"
               x-webkit-airplay="allow" x5-video-player-type="h5" x5-video-player-fullscreen="true"
               x5-video-orientation="portraint" style="object-fit:fill">
            <source src="${rows['videoUrl']}" type="video/mp4">
        </video>
    </div>
</div>
</body>
</html>